# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.vs

*.vcxproj.FileListAbsolute.txt
*.tlog
*.vc143.pdb
MatricesOPENMP/x64/Debug/vc143.pdb
*.cache
MatricesOPENMP/x64/Debug/MatricesOPENMP.Form1.resources
*.res
x64/Debug/MatricesOPENMP.pdb
MatricesOPENMP/x64/Debug/MatricesOPENMP.log
